<div class="span6 offset4 ice-box text-center">
	<h1 class="awesome-sauce">
			Hi I'm Marco
	</h1>

	<h2>
		Hacking is fun on this snowy Saturday
	</h2>

	<%= link_to 'Launch', '#', :class => 'btn btn-danger btn-large' %>

</div>